* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: linen;
}

.logo-side {
    padding: 0 100px;
    line-height: 80px;
    display: flex;
    align-items: center;
}

.logo-side img {
    width: 100px;
    height: auto;
}

.container {
    background-color: #223769;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-content ul {
    display: flex;
    font-weight: bold;
    color: #fff;
    justify-content: space-between;
}

.nav-content ul li {
    margin-right: 50px;
}

.links {
    color: #fff;
}

.nav-content ul li:hover a {
    opacity: 0.8;
}